.text.svelte-4u6us1{}.text.error.svelte-4u6us1{color:var(--error)}
nav.svelte-1ul77k7{position:-webkit-sticky;position:sticky;top:0;height:64px;margin:0 auto;padding:0 8vw;z-index:1;display:flex;align-items:center;justify-content:space-between;background-color:var(--background);box-shadow:0 -2px 6px rgba(var(--foreground-rgb), 0.2)}@media only screen and (min-width: 960px){nav.svelte-1ul77k7{padding:0 calc((100vw - 960px) / 2 + 20px)}}
:root {
  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-3: #999999;
  --accents-4: #888888;
  --accents-5: #666666;
  --accents-6: #444444;
  --accents-7: #333333;
  --accents-8: #111111;

  --foreground: #000000;
  --foreground-rgb: 0, 0, 0;
  --background: #ffffff;

  --success: #0070f3;
  --success-light: #3291ff;
  --success-dark: #0761d1;

  --error: #ee0000;
  --error-light: #ff1a1a;
  --error-dark: #c50000;

  --warning: #f5a623;
  --warning-ligth: #f7b955;
  --warning-dark: #ab570a;

  --selection: var(--cyan);
  --secondary: #666666;
  --link: #0070f3;
  --link-rgb: 0, 112, 243;
  --border: #eaeaea;
  --code: #f81ce5;
  --cyan: #50e3c2;
  --purple: #f81ce5;
  --alert: #ff0080;
  --violet: #7928ca;

  --expressiveness-link-style: none;
  --expressiveness-link-hover-style: none;
  --expressiveness-dropdownBoxShadow: 0 4px 4px 0 rgba(0, 0, 0, 0.02);
  --expressiveness-shadow-small: 0 5px 10px rgba(0, 0, 0, 0.12);
  --expressiveness-shadow-medium: 0 8px 30px rgba(0, 0, 0, 0.12);
  --expressiveness-shadow-large: 0 30px 60px rgba(0, 0, 0, 0.12);

  --gap: 16pt;
  --gap-negative: -16pt;
  --gap-half: 8pt;
  --gap-half-negative: -8pt;
  --gap-quarter: 4pt;
  --gap-quarter-negative: -4pt;
  --page-margin: 16pt;
  --page-width: 750pt;
  --page-width-with-margin: 782pt;
  --radius: 5px;
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --font-mono: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

[data-theme="dark"] {
  --accents-1: #111111;
  --accents-2: #333333;
  --accents-3: #444444;
  --accents-4: #666666;
  --accents-5: #888888;
  --accents-6: #999999;
  --accents-7: #eaeaea;
  --accents-8: #fafafa;

  --foreground: #ffffff;
  --foreground-rgb: 255, 255, 255;
  --background: #000000;

  --selection: var(--purple);
  --secondary: #888888;
  --link: #3291ff;
  --link-rgb: 50, 145, 255;
  --border: #333333;
  --code: #79ffe1;

  --expressiveness-dropdownBoxShadow: 0 0 0 1px #333;
  --expressiveness-shadow-small: 0 0 0 1px #333;
  --expressiveness-shadow-medium: 0 0 0 1px #333;
  --expressiveness-shadow-large: 0 0 0 1px #333;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
}

buttonfocus,
inputfocus,
selectfocus,
textareafocus {
  outline: none;
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
  appearance: button;
}

details {
  border: none;
}

details:active,
details:focus,
details:hover {
  outline: none;
}

summary {
  cursor: pointer;
  user-select: none;
}

summary::-webkit-details-marker {
  display: none;
}

summary:active,
summary:focus,
summary:hover {
  outline: none;
}

*,
:after,
:before {
  box-sizing: inherit;
  text-rendering: geometricPrecision;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 16px;
}

body,
html {
  background-color: var(--background);
  color: var(--foreground);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0;
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
}

body,
p,
small {
  font-family: var(--font-sans);
  margin: 0;
}

p,
small {
  letter-spacing: -0.005625rem;
  font-weight: 400;
  color: inherit;
}

p {
  margin: 1rem 0;
  font-size: 1em;
  line-height: 1.625em;
}

small {
  margin: 0;
  line-height: 1.5;
  font-size: 0.875rem;
}

span {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
}

b {
  font-weight: 600;
}

img {
  max-width: 100%;
}

a {
  color: var(--link);
  cursor: pointer;
  -webkit-box-align: center;
  align-items: center;
  font-size: inherit;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans);
  margin: 0 0 0.625rem;
  color: inherit;
}

h1 {
  font-size: 3rem;
  letter-spacing: -0.066875rem;
  line-height: 1.5;
  font-weight: 700;
}

h2 {
  font-size: 2.25rem;
  letter-spacing: -0.020625rem;
}

h2,
h3 {
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  letter-spacing: -0.029375rem;
}

h4 {
  font-size: 1.25rem;
  letter-spacing: -0.020625rem;
}

h4,
h5 {
  font-weight: 600;
}

h5 {
  font-size: 1rem;
  letter-spacing: -0.01125rem;
}

h6 {
  font-size: 0.875rem;
  letter-spacing: -0.005625rem;
  font-weight: 600;
}

selection {
  background-color: var(--selection);
  color: var(--foreground);
}

input-webkit-autofill {
  box-shadow: 0 0 0 100px var(--background) inset;
}

ol,
ul {
  margin: 1rem 0 1rem 0.9375rem;
  color: var(--foreground);
  padding: 0;
  list-style-type: none;
}

ol {
  list-style-type: decimal;
}

li {
  margin-bottom: 0.625rem;
  font-size: 1em;
  line-height: 1.625em;
}

ul li:before {
  content: "–";
  display: inline-block;
  color: var(--accents-4);
  position: absolute;
  margin-left: -0.9375rem;
}

code {
  color: var(--code);
  font-family: var(--font-mono);
  font-size: 0.9em;
  white-space: pre-wrap;
}

code:after,
code:before {
  content: "`";
}

pre {
  border: 1px solid var(--accents-2);
  border-radius: var(--radius);
  padding: calc(var(--gap) * 0.75) var(--gap);
  margin: 1.5rem 0;
  overflow: auto;
  font-size: 0.875rem;
  font-family: var(--font-mono);
  -webkit-overflow-scrolling: touch;
}

pre,
pre code {
  white-space: pre;
}

pre code {
  color: var(--foreground);
  font-size: 0.8125rem;
  line-height: 1.25rem;
}

pre code:after,
pre code:before {
  display: none;
}

hr {
  border-color: var(--accents-2);
}

details {
  background-color: var(--accents-1);
}

main.svelte-jz7h1y{position:relative;box-sizing:border-box;margin:0 auto;padding:0 4vw}@media only screen and (min-width: 960px){main.svelte-jz7h1y{padding:0 calc((100vw - 960px) / 2 + 20px)}}
h1.svelte-8od9u6,p.svelte-8od9u6{margin:0 auto}h1.svelte-8od9u6{font-size:2.8em;font-weight:700;margin:0 0 0.5em 0}p.svelte-8od9u6{margin:1em auto}@media(min-width: 480px){h1.svelte-8od9u6{font-size:4em}}
